</div><!-- end main container from application.html.erb -->

  <section class="page-header">
    <h1 class="project-name">e-Sight</h1><br>
    <h2 class="project-tagline">Item Profitability Engine for e-commerce platforms</h2>
    
    <a href="/skus" class="btn">Get Started</a>
   
    
    <div style="margin-top:100px"><!-- Typing Animation -->
      <span class="element"></span>
    </div>
    
  </section>
  
  <script>
  $(function(){
      $(".element").typed({
        strings: [
          "Find out shipping profitability of Online assortment.", 
          "Decide correct multiples for Online SKUs to maximize margins.",
          "Cloud based plug and play webservice for existing e-commerce platforms."
          ],
        typeSpeed: 20
      });
  });
  </script>

<div class="container"><!-- Restart the main container from application.html.erb -->